################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/KafkaStreaming/bin/Debug/netcoreapp3.1
/KafkaStreaming/obj
/mySparkStreamingApp/obj
/mySparkStreamingApp/.vs
/mySparkStreamingApp2/bin/Debug
/mySparkStreamingApp2/.vs/mySparkStreamingApp2
/mySparkStreamingApp2/obj
/mySparkStreamingApp2ML.ConsoleApp/obj
/mySparkStreamingApp2ML.ConsoleApp/bin/Debug/netcoreapp3.1
/mySparkStreamingApp2ML.Model/obj
/mySparkStreamingApp2ML.Model/bin/Debug/netstandard2.0
/SentimentRazor/obj
/SentimentRazor/bin/Debug/netcoreapp3.1
/mySparkStreamingApp2ML.Model/ConsumeModel.cs
